[submodule ".vim/bundle/Align"]
	path = .vim/bundle/Align
	url = git@github.com:vim-scripts/Align.git
[submodule ".vim/bundle/FuzzyFinder"]
	path = .vim/bundle/FuzzyFinder
	url = git@github.com:vim-scripts/FuzzyFinder.git
[submodule ".vim/bundle/L9"]
	path = .vim/bundle/L9
	url = git@github.com:vim-scripts/L9.git
[submodule ".vim/bundle/bufexplorer"]
	path = .vim/bundle/bufexplorer
	url = git@github.com:jlanzarotta/bufexplorer.git
[submodule ".vim/bundle/mojo.vim"]
	path = .vim/bundle/mojo.vim
	url = git@github.com:yko/mojo.vim.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/tlib_vim"]
	path = .vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule ".vim/bundle/vcscommand"]
	path = .vim/bundle/vcscommand
	url = git://repo.or.cz/vcscommand
[submodule ".vim/bundle/vim-addon-mw-utils"]
	path = .vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule ".vim/bundle/vim-narrow"]
	path = .vim/bundle/vim-narrow
	url = git@github.com:jkramer/vim-narrow.git
[submodule ".vim/bundle/vim-snipmate"]
	path = .vim/bundle/vim-snipmate
	url = git@github.com:garbas/vim-snipmate.git
